@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-message{

position:relative;
right:3vw;
}

.form-container {
  width: 100%;
  min-height: 100vh;
  background-color: #303331;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #28fa55;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  margin:5vh;
  right:3vw;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input:focus {
  border-color: #0afc3e;
  outline: none;
}
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  color: #28fa55;
  font-size: 1rem;
  font-weight: 500;
}

.input-group input {
  width: 82%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: white;
  border: solid 2.5px #29f054;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.sign {
  display: block;
  width: 80%;
  background-color: #a37167;
  padding: 1.5%;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  margin-top: 15%;
  color: white;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.login-error {
  color: red;
  font-weight: bold;
  margin: 20px 0;
}

p.signup {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #28fa55;
}

a.a {
  color: #28fa55;
  text-decoration: underline;
}

.error {
  color: #ff0000; /* Bright red color */
  font-size: 0.9rem;
  text-align: center;
  margin: 10px 0;
}

#captcha-error {
  display: block;
  color: #ff0000;
  font-weight: bold;
}

@media (max-width: 480px) {
  .form-container {
    padding: 4%;
  }

  .title {
    font-size: 2rem;
  }

  .input-group input {
    padding: 4%;
  }

  .sign {
    font-size: 1rem;
    padding: 3%;
  }
}

.sign {
  --bg: #90ffa8;
  --hover-bg: #28fa55;
  --hover-text: #000;
  color: black;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.9em 2.2em;
  background: var(--bg);
  transition: 0.2s;
  margin-block: 2vh;
  width: 87%;
}

.sign:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.sign:active {
  transform: translate(0);
  box-shadow: none;
}
.social-message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#return-home {
  --bg: #90ffa8;
  --hover-bg: #28fa55;
  --hover-text: #000;
  color: black;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.9em 2.2em;
  background: var(--bg);
  transition: 0.2s;
  margin: 7.5px;
  width: 200px;
}

#return-home:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

#return-home:active {
  transform: translate(0);
  box-shadow: none;
}
