<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/confirmation.css}">
</head>

<body>
<div class="header">
    <h1 id="social-pub">Social Pub</h1>
</div>
<div id="wellcome-container"><h1>Welcome, <span sec:authentication="principal.username"></span>!</h1></div>

<div id="qrImageContainer">
    <img id="image" src="https://softmatic.com/images/QR%20Example%20Umlauts%20Accented.png" alt="Placeholder Image">
</div>

<div id="button-container">
    <button id="showImageButton">QR</button>

    <div sec:authorize="hasRole('BARTENDER')">
        <a th:href="@{/bartender}" class="button">
            <button id="order">Create Order</button>
        </a>
    </div>

    <div id="logoutButton">
        <form th:action="@{/logout}" method="POST">
            <button type="submit" value="Logout">Logout</button>
        </form>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin/}" class="button">
            <button id="admin">Admin Panel</button>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script th:src="@{/js/confirmation.js}"></script>
</body>
</html>