<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Pub</title>
    <link rel="stylesheet" href="/css/homePage.css" />
</head>

<body>
<div class="header">
    <h1>Social Pub</h1>

</div>
<h2>Welcome to  Social Pub-Kibbutz Zikim!</h2>
<div id="button-container">
        <a th:href="@{/register}" class="button">
            <button id="text">Register</button>
        </a>
        <a th:href="@{/login}" class="button">
            <button>Login</button>
        </a>
</div>
<!-- <div id="logo"></div> -->
<div class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.squarespace-cdn.com/content/v1/57eaddcf2e69cfdc14bda7b2/1495654720897-42ORYPPSGK4YCWLYX62Q/draft+beer+pour"
                 alt="Slide 1" />
        </div>
        <div class="carousel-item">
            <img src="image/pic5.jpg" alt="Slide 3" />
        </div>
    </div>
</div>
<script th:src="@{js/homepage.js}"></script>
</body>
</html>