<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div class="form-container">
    <p class="title">Login</p>
    <!-- Centralized Error Message Container -->

    <form class="form" th:action="@{/authenticateTheUser}" method="post" id="login-form">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <div class="input-group">
            <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('google.recaptcha.site-key')}"></div>
        </div>
        <div id="error-container" class="error-container">
            <!-- All error messages will be prepended here -->
            <div id="login-error" class="login-error" th:if="${param.error}">
                <p>Sorry! you have entered wrong password or username</p>
            </div>
            <span id="captcha-error" class="error"></span>
            <div id="general-error-message" class="error"></div>
        </div>
        <button type="submit" class="sign">Sign in</button>
    </form>
    <div class="social-message">
        <p class="signup">Don't have an account?
            <a th:href="@{/register}" class="a">Sign up</a>
        </p>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Login Page</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
<!--    <script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="form-container">-->
<!--    <p class="title">Login</p>-->
<!--    <form class="form" th:action="@{/authenticateTheUser}" method="post" id="login-form">-->
<!--        <div class="input-group">-->
<!--            <label for="username">Username</label>-->
<!--            <input type="text" name="username" id="username" placeholder="Enter your username" required>-->
<!--        </div>-->
<!--        <div class="input-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input type="password" name="password" id="password" placeholder="Enter your password" required>-->
<!--        </div>-->
<!--        <div class="input-group">-->
<!--            <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('google.recaptcha.site-key')}"></div>-->
<!--            <span id="captcha-error" class="error"></span>-->
<!--        </div>-->
<!--        <button type="submit" class="sign">Sign in</button>-->
<!--        <div class="login-error" th:if="${param.error}">-->
<!--            <p>Sorry! you have entered wrong password or username</p>-->
<!--        </div>-->
<!--        <div id="error-message" class="error"></div>-->
<!--    </form>-->
<!--    <div class="social-message">-->
<!--        <p class="signup">Don't have an account?-->
<!--            <a th:href="@{/register}" class="a">Sign up</a>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<!--<script th:src="@{/js/login.js}"></script>-->
<!--</body>-->
<!--</html>-->
