<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="form-container">
    <h1 class="title">Register</h1>

    <form th:action="@{/register}" id="register-form"  th:object="${user}"  method="POST" class="form" onsubmit="return validatePassword()">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required name="username">
            <span th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"
                  class="error">
        </span>
        </div>

        <div class="input-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" name="firstName" required>
        </div>

        <div class="input-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" name="lastName" required>
        </div>

        <div class="input-group">
            <label for="idNumber">ID Number:</label>
            <input type="number" id="idNumber" name="idNumber" th:field="*{idNumber}" required>
            <span th:if="${#fields.hasErrors('idNumber')}"
                  th:errors="*{idNumber}"
                  class="error">
        </span>
        </div>

        <div class="input-group">
            <label for="age">Age:</label>
            <input type="number" id="age" th:field="*{age}" name="age" min="18" required>
        </div>

        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" name="password" required>
        </div>

        <div class="input-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>

        <div id="error-message"></div>

<!--        <div class="input-group">-->
<!--            <label for="profile-picture">Profile Picture (optional):</label>-->
<!--            <input type="file" id="profile-picture" name="profile-picture">-->
<!--        </div>-->

        <button type="submit" class="btn">Register</button>
    </form>

    <div class="signup">
        <a th:href="@{showMyLoginPage}">
            <button class="btn"> All reday Sign up? Login</button>
        </a>
    </div>
</div>
<script th:src="@{/js/register.js}"></script>
</body>
</html>



